<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>common/accept.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1821},{209,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,80}}</string>
			<key>sourceSize</key>
			<string>{209,80}</string>
		</dict>
		<key>common/acceptDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,987},{209,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,80}}</string>
			<key>sourceSize</key>
			<string>{209,80}</string>
		</dict>
		<key>common/arrow5.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,1932},{95,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,100}}</string>
			<key>sourceSize</key>
			<string>{95,100}</string>
		</dict>
		<key>common/ask.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,1947},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/askFriend.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/askFriendDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/ask_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,1574},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/askedTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,795},{160,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,226}}</string>
			<key>sourceSize</key>
			<string>{160,226}</string>
		</dict>
		<key>common/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,1574},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>common/back_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,1932},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>common/bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,1467},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>common/boosterBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576,944},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,67}</string>
		</dict>
		<key>common/booster_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,1821},{108,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,109}}</string>
			<key>sourceSize</key>
			<string>{108,109}</string>
		</dict>
		<key>common/booster_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,1464},{108,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,109}}</string>
			<key>sourceSize</key>
			<string>{108,109}</string>
		</dict>
		<key>common/booster_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1527,1086},{108,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,109}}</string>
			<key>sourceSize</key>
			<string>{108,109}</string>
		</dict>
		<key>common/boy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,644},{231,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,316}}</string>
			<key>sourceSize</key>
			<string>{231,316}</string>
		</dict>
		<key>common/bringStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,1864},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>common/bringStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,1221},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>common/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1020,1021},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/button_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,1021},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,1487},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>common/checkNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1487},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>common/clearBoost.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,1313},{88,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,100}}</string>
			<key>sourceSize</key>
			<string>{88,100}</string>
		</dict>
		<key>common/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,1674},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>common/close_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,1436},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>common/cogwheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,1664},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/cogwheel_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,1757},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/crystal.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,1957},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>common/end g 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/end g.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,1574},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/exit_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1667},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,1480},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/facebookButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1267},{134,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,136}}</string>
			<key>sourceSize</key>
			<string>{134,136}</string>
		</dict>
		<key>common/facebookButtonDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1911,683},{134,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,136}}</string>
			<key>sourceSize</key>
			<string>{134,136}</string>
		</dict>
		<key>common/facebookConnect.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,417},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/facebookConnectDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,681},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/facebookTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,1821},{196,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,188}}</string>
			<key>sourceSize</key>
			<string>{196,188}</string>
		</dict>
		<key>common/facebook_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/failed.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,795},{396,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,123}}</string>
			<key>sourceSize</key>
			<string>{396,123}</string>
		</dict>
		<key>common/fish.png</key>
		<dict>
			<key>frame</key>
			<string>{{1898,821},{144,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,92}}</string>
			<key>sourceSize</key>
			<string>{144,92}</string>
		</dict>
		<key>common/freq.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,567},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/freqAsked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,453},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/go.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/goDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1574},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/greenPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,531},{541,382}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,382}}</string>
			<key>sourceSize</key>
			<string>{541,382}</string>
		</dict>
		<key>common/greyPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,2},{584,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,299}}</string>
			<key>sourceSize</key>
			<string>{584,299}</string>
		</dict>
		<key>common/heart_boost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1487},{100,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,85}}</string>
			<key>sourceSize</key>
			<string>{100,85}</string>
		</dict>
		<key>common/howPlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,339},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/howPlayDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1353,458},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/iceStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,1313},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>common/iceStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1436},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>common/icelittle.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1023},{139,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,242}}</string>
			<key>sourceSize</key>
			<string>{139,242}</string>
		</dict>
		<key>common/me.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,1416},{87,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,62}}</string>
			<key>sourceSize</key>
			<string>{87,62}</string>
		</dict>
		<key>common/meUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,1416},{87,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,62}}</string>
			<key>sourceSize</key>
			<string>{87,62}</string>
		</dict>
		<key>common/musicButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1857},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/music_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,1767},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/next.png</key>
		<dict>
			<key>frame</key>
			<string>{{1638,1100},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/nextComix.png</key>
		<dict>
			<key>frame</key>
			<string>{{1880,1393},{179,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,127}}</string>
			<key>sourceSize</key>
			<string>{179,127}</string>
		</dict>
		<key>common/nextComixDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1880,1212},{179,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,127}}</string>
			<key>sourceSize</key>
			<string>{179,127}</string>
		</dict>
		<key>common/nextDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1280,983},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/notification.png</key>
		<dict>
			<key>frame</key>
			<string>{{1353,344},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/notificationDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,303},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/notificationTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1647,770},{249,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,222}}</string>
			<key>sourceSize</key>
			<string>{249,222}</string>
		</dict>
		<key>common/number_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,1403},{86,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,62}}</string>
			<key>sourceSize</key>
			<string>{86,62}</string>
		</dict>
		<key>common/number_1_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,1403},{86,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,62}}</string>
			<key>sourceSize</key>
			<string>{86,62}</string>
		</dict>
		<key>common/off.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,1821},{202,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{202,74}}</string>
			<key>sourceSize</key>
			<string>{202,76}</string>
		</dict>
		<key>common/ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,1173},{236,102}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,102}}</string>
			<key>sourceSize</key>
			<string>{238,104}</string>
		</dict>
		<key>common/okDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,1069},{236,102}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,102}}</string>
			<key>sourceSize</key>
			<string>{238,104}</string>
		</dict>
		<key>common/on.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,1821},{202,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{202,74}}</string>
			<key>sourceSize</key>
			<string>{202,76}</string>
		</dict>
		<key>common/palka.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,303},{5,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,162}}</string>
			<key>sourceSize</key>
			<string>{5,162}</string>
		</dict>
		<key>common/pl on 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1393},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/pl on red 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1299},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/pl on red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1633,1300},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/pl on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1633,1206},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/pl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1527,1011},{110,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,73}}</string>
			<key>sourceSize</key>
			<string>{110,73}</string>
		</dict>
		<key>common/plashka_score_target.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,572},{321,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,70}}</string>
			<key>sourceSize</key>
			<string>{321,70}</string>
		</dict>
		<key>common/play.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,915},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/play_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,915},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576,877},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,67}</string>
		</dict>
		<key>common/popupFacebookPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{782,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{782,335}}</string>
			<key>sourceSize</key>
			<string>{782,335}</string>
		</dict>
		<key>common/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372,230},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/resetDialog.png</key>
		<dict>
			<key>frame</key>
			<string>{{1263,1183},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/resetDialogDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,1127},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/resetDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1932,123},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/resetTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,698},{287,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,222}}</string>
			<key>sourceSize</key>
			<string>{287,222}</string>
		</dict>
		<key>common/restore.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,1127},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/restorePurshase.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372,116},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/restorePurshaseDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372,2},{558,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,112}}</string>
			<key>sourceSize</key>
			<string>{558,112}</string>
		</dict>
		<key>common/restoreTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,339},{357,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,222}}</string>
			<key>sourceSize</key>
			<string>{357,222}</string>
		</dict>
		<key>common/restoreUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1267,1089},{245,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,92}}</string>
			<key>sourceSize</key>
			<string>{245,92}</string>
		</dict>
		<key>common/retry.png</key>
		<dict>
			<key>frame</key>
			<string>{{1643,994},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/retryDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,877},{245,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,104}}</string>
			<key>sourceSize</key>
			<string>{245,104}</string>
		</dict>
		<key>common/scoreStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,1674},{91,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{91,91}}</string>
			<key>sourceSize</key>
			<string>{97,99}</string>
		</dict>
		<key>common/scoreStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,1771},{91,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{91,91}}</string>
			<key>sourceSize</key>
			<string>{97,99}</string>
		</dict>
		<key>common/setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1898,915},{157,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,142}}</string>
			<key>sourceSize</key>
			<string>{157,142}</string>
		</dict>
		<key>common/settingBlob.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,920},{386,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,377}}</string>
			<key>sourceSize</key>
			<string>{386,377}</string>
		</dict>
		<key>common/settingTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1652,572},{196,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,257}}</string>
			<key>sourceSize</key>
			<string>{196,257}</string>
		</dict>
		<key>common/skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,1821},{192,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,93}}</string>
			<key>sourceSize</key>
			<string>{192,93}</string>
		</dict>
		<key>common/skipDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1821},{192,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,93}}</string>
			<key>sourceSize</key>
			<string>{192,93}</string>
		</dict>
		<key>common/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,1957},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/soundNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,1403},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{59,59}}</string>
			<key>sourceSize</key>
			<string>{63,63}</string>
		</dict>
		<key>common/sound_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1313},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>common/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,1313},{121,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,115}}</string>
			<key>sourceSize</key>
			<string>{121,115}</string>
		</dict>
		<key>common/star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,1299},{121,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,115}}</string>
			<key>sourceSize</key>
			<string>{121,115}</string>
		</dict>
		<key>common/star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,1196},{121,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,115}}</string>
			<key>sourceSize</key>
			<string>{121,115}</string>
		</dict>
		<key>common/star_popup_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{1890,1074},{140,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{140,136}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>common/time15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1932,2},{119,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,114}}</string>
			<key>sourceSize</key>
			<string>{119,114}</string>
		</dict>
		<key>common/timeStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,1574},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>common/timeStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,1221},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common1.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2a2a6e99caaefc30fc1b9fcb94f9a59a:1/1$</string>
		<key>textureFileName</key>
		<string>common1.pvr.ccz</string>
	</dict>
</dict>
</plist>
