<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameMap/askFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,116},{558,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,112}}</string>
                <key>sourceSize</key>
                <string>{558,112}</string>
            </dict>
            <key>gameMap/askFriendDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,116},{558,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,112}}</string>
                <key>sourceSize</key>
                <string>{558,112}</string>
            </dict>
            <key>gameMap/blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1056},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>gameMap/blurPics/level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{461,339}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,339}}</string>
                <key>sourceSize</key>
                <string>{463,339}</string>
            </dict>
            <key>gameMap/blurPics/level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,941},{298,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,343}}</string>
                <key>sourceSize</key>
                <string>{298,343}</string>
            </dict>
            <key>gameMap/blurPics/level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{309,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,437}}</string>
                <key>sourceSize</key>
                <string>{309,437}</string>
            </dict>
            <key>gameMap/blurPics/level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,230},{535,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,461}}</string>
                <key>sourceSize</key>
                <string>{535,461}</string>
            </dict>
            <key>gameMap/blurPics/level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,532},{510,440}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{510,440}}</string>
                <key>sourceSize</key>
                <string>{512,442}</string>
            </dict>
            <key>gameMap/blurPics/level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,230},{517,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,300}}</string>
                <key>sourceSize</key>
                <string>{517,300}</string>
            </dict>
            <key>gameMap/blurPics/level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,512}}</string>
                <key>sourceSize</key>
                <string>{582,512}</string>
            </dict>
            <key>gameMap/boosterBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1162},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gameMap/char-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,693},{189,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,319}}</string>
                <key>sourceSize</key>
                <string>{189,319}</string>
            </dict>
            <key>gameMap/char-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,838},{110,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,258}}</string>
                <key>sourceSize</key>
                <string>{110,258}</string>
            </dict>
            <key>gameMap/circleDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,746},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>gameMap/circleFlik.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,516},{137,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,103}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>gameMap/cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,941},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>gameMap/cookie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,864},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>gameMap/dashline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,941},{41,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,310}}</string>
                <key>sourceSize</key>
                <string>{41,310}</string>
            </dict>
            <key>gameMap/frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,584},{149,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,8}}</string>
                <key>sourceSize</key>
                <string>{149,8}</string>
            </dict>
            <key>gameMap/frameAngle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,394},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>gameMap/full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,230},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>gameMap/gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,970},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>gameMap/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,950},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>gameMap/heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,693},{204,169}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,169}}</string>
                <key>sourceSize</key>
                <string>{206,171}</string>
            </dict>
            <key>gameMap/heartBroken.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,621},{135,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,123}}</string>
                <key>sourceSize</key>
                <string>{135,123}</string>
            </dict>
            <key>gameMap/kontur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1264},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur5.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1026},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,955},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/kontur9.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,884},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
            <key>gameMap/lent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,822},{400,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,117}}</string>
                <key>sourceSize</key>
                <string>{400,117}</string>
            </dict>
            <key>gameMap/lent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,703},{400,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,117}}</string>
                <key>sourceSize</key>
                <string>{400,117}</string>
            </dict>
            <key>gameMap/lent_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,584},{400,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,117}}</string>
                <key>sourceSize</key>
                <string>{400,117}</string>
            </dict>
            <key>gameMap/lent_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,465},{400,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,117}}</string>
                <key>sourceSize</key>
                <string>{400,117}</string>
            </dict>
            <key>gameMap/livesPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1056},{292,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,104}}</string>
                <key>sourceSize</key>
                <string>{292,104}</string>
            </dict>
            <key>gameMap/moreLives.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{558,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,112}}</string>
                <key>sourceSize</key>
                <string>{558,112}</string>
            </dict>
            <key>gameMap/moreLivesDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{558,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,112}}</string>
                <key>sourceSize</key>
                <string>{558,112}</string>
            </dict>
            <key>gameMap/orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,950},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>gameMap/penguin_boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,322},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>gameMap/relsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{74,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,308}}</string>
                <key>sourceSize</key>
                <string>{74,308}</string>
            </dict>
            <key>gameMap/violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,864},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>gameMap/wite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{69,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,299}}</string>
                <key>sourceSize</key>
                <string>{69,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameMap.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6cfaae6bafd6c6a8d09b5575e5d5450:1/1$</string>
            <key>textureFileName</key>
            <string>gameMap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
