<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainMenu/heapIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,2},{414,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,442}}</string>
                <key>sourceSize</key>
                <string>{414,442}</string>
            </dict>
            <key>mainMenu/iceBlob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{768,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,133}}</string>
                <key>sourceSize</key>
                <string>{768,133}</string>
            </dict>
            <key>mainMenu/iceBlotLandscape.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{1024,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,132}}</string>
                <key>sourceSize</key>
                <string>{1024,132}</string>
            </dict>
            <key>mainMenu/logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{567,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,392}}</string>
                <key>sourceSize</key>
                <string>{567,392}</string>
            </dict>
            <key>mainMenu/mainMenuBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>mainMenu/mainMenuBackgroundLandscape.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce05c1bd928a1f178c6206cfcb37838:1/1$</string>
            <key>textureFileName</key>
            <string>mainMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
