<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>common/bringStudyModal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2521,1761},{1197,876}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1197,876}}</string>
			<key>sourceSize</key>
			<string>{1197,876}</string>
		</dict>
		<key>common/iceStudyModal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,930},{1197,876}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1197,876}}</string>
			<key>sourceSize</key>
			<string>{1197,876}</string>
		</dict>
		<key>common/panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1315,2000}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1315,2000}}</string>
			<key>sourceSize</key>
			<string>{1315,2000}</string>
		</dict>
		<key>common/plate ltl.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3472},{1314,535}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1314,535}}</string>
			<key>sourceSize</key>
			<string>{1314,535}</string>
		</dict>
		<key>common/plate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,3},{1314,924}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1314,924}}</string>
			<key>sourceSize</key>
			<string>{1314,924}</string>
		</dict>
		<key>common/scoreStudyModal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2638,882},{1197,876}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1197,876}}</string>
			<key>sourceSize</key>
			<string>{1197,876}</string>
		</dict>
		<key>common/timeStudyModal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2638,3},{1197,876}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1197,876}}</string>
			<key>sourceSize</key>
			<string>{1197,876}</string>
		</dict>
		<key>common/tutorial_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,2814},{1141,885}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1141,885}}</string>
			<key>sourceSize</key>
			<string>{1141,885}</string>
		</dict>
		<key>common/tutorial_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,1809},{1002,1176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1002,1176}}</string>
			<key>sourceSize</key>
			<string>{1002,1176}</string>
		</dict>
		<key>common/tutorial_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2209,2814},{949,787}}</string>
			<key>offset</key>
			<string>{21,43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,0},{949,787}}</string>
			<key>sourceSize</key>
			<string>{993,873}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common0.pvr.ccz</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c5bc618245fb77811ca51dcf41af2400:1/1$</string>
		<key>textureFileName</key>
		<string>common0.pvr.ccz</string>
	</dict>
</dict>
</plist>
