<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>common/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2735,228},{1115,885}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1115,885}}</string>
			<key>sourceSize</key>
			<string>{1141,885}</string>
		</dict>
		<key>common/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2651,1115},{982,822}}</string>
			<key>offset</key>
			<string>{-10,-158}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,335},{982,822}}</string>
			<key>sourceSize</key>
			<string>{1002,1176}</string>
		</dict>
		<key>common/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,671},{949,311}}</string>
			<key>offset</key>
			<string>{21,-194}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,475},{949,311}}</string>
			<key>sourceSize</key>
			<string>{993,873}</string>
		</dict>
		<key>common/arrow5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,1895},{190,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,200}}</string>
			<key>sourceSize</key>
			<string>{190,200}</string>
		</dict>
		<key>common/ask.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,2812},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/ask_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,2638},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,2242},{195,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,195}}</string>
			<key>sourceSize</key>
			<string>{195,195}</string>
		</dict>
		<key>common/back_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,2087},{195,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,195}}</string>
			<key>sourceSize</key>
			<string>{195,195}</string>
		</dict>
		<key>common/blueButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3635,1826},{418,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,160}}</string>
			<key>sourceSize</key>
			<string>{418,160}</string>
		</dict>
		<key>common/blueButtonArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1740},{358,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,254}}</string>
			<key>sourceSize</key>
			<string>{358,254}</string>
		</dict>
		<key>common/bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,1869},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>common/boosterBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2785},{128,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{128,130}}</string>
			<key>sourceSize</key>
			<string>{130,134}</string>
		</dict>
		<key>common/booster_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,1145},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/booster_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3635,1115},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/booster_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,928},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/boy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,1508},{461,632}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{461,632}}</string>
			<key>sourceSize</key>
			<string>{461,632}</string>
		</dict>
		<key>common/bringStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{2079,2040},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/bringStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2650,1939},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1198},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/buttonSetting.png</key>
		<dict>
			<key>frame</key>
			<string>{{2735,2},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/button_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{3635,1334},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{2833,1939},{170,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,170}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>common/checkAll.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1037},{527,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{527,159}}</string>
			<key>sourceSize</key>
			<string>{527,159}</string>
		</dict>
		<key>common/checkAllDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,876},{527,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{527,159}}</string>
			<key>sourceSize</key>
			<string>{527,159}</string>
		</dict>
		<key>common/checkNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3091},{170,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,170}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>common/clearBoost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2472,1826},{176,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,200}}</string>
			<key>sourceSize</key>
			<string>{176,200}</string>
		</dict>
		<key>common/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1703,1971},{189,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,190}}</string>
			<key>sourceSize</key>
			<string>{189,190}</string>
		</dict>
		<key>common/close_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,2439},{189,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,190}}</string>
			<key>sourceSize</key>
			<string>{189,190}</string>
		</dict>
		<key>common/cogwheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1134,2467},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/cogwheel_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1318,2313},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/crystal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2472,1647},{177,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,177}}</string>
			<key>sourceSize</key>
			<string>{177,177}</string>
		</dict>
		<key>common/exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1594,2162},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/exit_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1692},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/facebookButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2640},{267,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,271}}</string>
			<key>sourceSize</key>
			<string>{267,271}</string>
		</dict>
		<key>common/facebookButtonDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,2386},{267,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,271}}</string>
			<key>sourceSize</key>
			<string>{267,271}</string>
		</dict>
		<key>common/facebookButtonMainMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1407},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/fish.png</key>
		<dict>
			<key>frame</key>
			<string>{{1414,1971},{287,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,183}}</string>
			<key>sourceSize</key>
			<string>{287,183}</string>
		</dict>
		<key>common/greenButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,671},{584,203}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{584,203}}</string>
			<key>sourceSize</key>
			<string>{588,207}</string>
		</dict>
		<key>common/greenPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567,601},{1082,764}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1082,764}}</string>
			<key>sourceSize</key>
			<string>{1082,764}</string>
		</dict>
		<key>common/greyPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567,2},{1166,597}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{1166,597}}</string>
			<key>sourceSize</key>
			<string>{1168,597}</string>
		</dict>
		<key>common/heart_boost.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,2071},{200,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,169}}</string>
			<key>sourceSize</key>
			<string>{200,169}</string>
		</dict>
		<key>common/iceStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2909},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/iceStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,2837},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/icelittle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2088,1367},{278,483}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,483}}</string>
			<key>sourceSize</key>
			<string>{278,483}</string>
		</dict>
		<key>common/markArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1895,1971},{179,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,182}}</string>
			<key>sourceSize</key>
			<string>{179,182}</string>
		</dict>
		<key>common/markArrow2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1996},{326,321}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,321}}</string>
			<key>sourceSize</key>
			<string>{326,321}</string>
		</dict>
		<key>common/markAsk.png</key>
		<dict>
			<key>frame</key>
			<string>{{2262,2040},{176,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,176}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>common/markAsk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2319},{319,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,319}}</string>
			<key>sourceSize</key>
			<string>{319,319}</string>
		</dict>
		<key>common/markFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,2455},{159,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,161}}</string>
			<key>sourceSize</key>
			<string>{159,161}</string>
		</dict>
		<key>common/markFacebookOnButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{3844,1362},{243,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,246}}</string>
			<key>sourceSize</key>
			<string>{243,246}</string>
		</dict>
		<key>common/markHeart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1409,2156},{183,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,155}}</string>
			<key>sourceSize</key>
			<string>{183,155}</string>
		</dict>
		<key>common/markInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1895,2152},{176,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,176}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>common/markNotif.png</key>
		<dict>
			<key>frame</key>
			<string>{{2472,2028},{176,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,176}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>common/markNotif2.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2065},{319,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,319}}</string>
			<key>sourceSize</key>
			<string>{319,319}</string>
		</dict>
		<key>common/markRotate.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,3019},{173,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,170}}</string>
			<key>sourceSize</key>
			<string>{173,170}</string>
		</dict>
		<key>common/markRotate2.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1740},{331,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{331,323}}</string>
			<key>sourceSize</key>
			<string>{331,323}</string>
		</dict>
		<key>common/markWhell.png</key>
		<dict>
			<key>frame</key>
			<string>{{2079,1647},{391,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,391}}</string>
			<key>sourceSize</key>
			<string>{391,391}</string>
		</dict>
		<key>common/me.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2915},{171,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{171,122}}</string>
			<key>sourceSize</key>
			<string>{173,124}</string>
		</dict>
		<key>common/meDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,2616},{171,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{171,122}}</string>
			<key>sourceSize</key>
			<string>{173,124}</string>
		</dict>
		<key>common/musicButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1515},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/music_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1338},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/offButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1744},{403,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{403,149}}</string>
			<key>sourceSize</key>
			<string>{403,151}</string>
		</dict>
		<key>common/onButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1593},{403,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{403,149}}</string>
			<key>sourceSize</key>
			<string>{403,151}</string>
		</dict>
		<key>common/palka.png</key>
		<dict>
			<key>frame</key>
			<string>{{4071,928},{9,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,323}}</string>
			<key>sourceSize</key>
			<string>{9,323}</string>
		</dict>
		<key>common/pl.png</key>
		<dict>
			<key>frame</key>
			<string>{{3844,1607},{217,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{217,146}}</string>
			<key>sourceSize</key>
			<string>{219,146}</string>
		</dict>
		<key>common/plashka_score_target.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,1367},{641,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{641,139}}</string>
			<key>sourceSize</key>
			<string>{641,139}</string>
		</dict>
		<key>common/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2655},{128,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{128,130}}</string>
			<key>sourceSize</key>
			<string>{130,134}</string>
		</dict>
		<key>common/popupFacebookPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1563,667}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{1563,667}}</string>
			<key>sourceSize</key>
			<string>{1563,669}</string>
		</dict>
		<key>common/redButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1198},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/redButtonSmall.png</key>
		<dict>
			<key>frame</key>
			<string>{{1771,2162},{172,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{172,122}}</string>
			<key>sourceSize</key>
			<string>{172,124}</string>
		</dict>
		<key>common/scoreStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,2455},{181,181}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{181,181}}</string>
			<key>sourceSize</key>
			<string>{193,197}</string>
		</dict>
		<key>common/scoreStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,2284},{181,181}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{181,181}}</string>
			<key>sourceSize</key>
			<string>{193,197}</string>
		</dict>
		<key>common/setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,1895},{313,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,284}}</string>
			<key>sourceSize</key>
			<string>{313,284}</string>
		</dict>
		<key>common/settingBlob.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,984},{772,754}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{772,754}}</string>
			<key>sourceSize</key>
			<string>{772,754}</string>
		</dict>
		<key>common/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1161},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/soundNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,1198},{117,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{117,116}}</string>
			<key>sourceSize</key>
			<string>{125,126}</string>
		</dict>
		<key>common/sound_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,984},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,696},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,464},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,232},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star_popup_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,2181},{280,272}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{280,272}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>common/time15.png</key>
		<dict>
			<key>frame</key>
			<string>{{3853,2},{237,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,228}}</string>
			<key>sourceSize</key>
			<string>{237,228}</string>
		</dict>
		<key>common/timeStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,2655},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/timeStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,2630},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common1.pvr.ccz</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c6c70910be85abf54930894ac2634f32:68a0508ea3a92e6b2e40a5dd00beb99a:ee1b1bc36d0cd140a76d638d5b4de23d$</string>
		<key>textureFileName</key>
		<string>common1.pvr.ccz</string>
	</dict>
</dict>
</plist>
