<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>common/accept.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,2158},{418,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,160}}</string>
			<key>sourceSize</key>
			<string>{418,160}</string>
		</dict>
		<key>common/acceptDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,1995},{418,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,160}}</string>
			<key>sourceSize</key>
			<string>{418,160}</string>
		</dict>
		<key>common/arrow5.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,3335},{190,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,200}}</string>
			<key>sourceSize</key>
			<string>{190,200}</string>
		</dict>
		<key>common/ask.png</key>
		<dict>
			<key>frame</key>
			<string>{{1511,3408},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/askFriend.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3142},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/askFriendDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,2955},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/ask_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1494,3230},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/askedTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3773,1291},{319,452}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,452}}</string>
			<key>sourceSize</key>
			<string>{319,452}</string>
		</dict>
		<key>common/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,3731},{195,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,195}}</string>
			<key>sourceSize</key>
			<string>{195,195}</string>
		</dict>
		<key>common/back_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,3115},{195,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,195}}</string>
			<key>sourceSize</key>
			<string>{195,195}</string>
		</dict>
		<key>common/bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,3115},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>common/boosterBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,3929},{128,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{128,130}}</string>
			<key>sourceSize</key>
			<string>{130,134}</string>
		</dict>
		<key>common/booster_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,3749},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/booster_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,3529},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/booster_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1999,2651},{215,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,217}}</string>
			<key>sourceSize</key>
			<string>{215,217}</string>
		</dict>
		<key>common/boy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1723},{461,632}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{461,632}}</string>
			<key>sourceSize</key>
			<string>{461,632}</string>
		</dict>
		<key>common/bringStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1299,3050},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/bringStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1133,3234},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,2531},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/button_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,2466},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{1585,3759},{170,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,170}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>common/checkNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1520,3586},{170,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,170}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>common/clearBoost.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,3528},{176,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,200}}</string>
			<key>sourceSize</key>
			<string>{176,200}</string>
		</dict>
		<key>common/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,3313},{189,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,190}}</string>
			<key>sourceSize</key>
			<string>{189,190}</string>
		</dict>
		<key>common/close_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,3521},{189,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,190}}</string>
			<key>sourceSize</key>
			<string>{189,190}</string>
		</dict>
		<key>common/cogwheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,3052},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/cogwheel_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,2874},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/crystal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1153,3418},{177,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,177}}</string>
			<key>sourceSize</key>
			<string>{177,177}</string>
		</dict>
		<key>common/end g 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,2928},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/end g.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,2863},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1407,3768},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/exit_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1342,3590},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{1506,2687},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/facebookButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{2344,1956},{267,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,271}}</string>
			<key>sourceSize</key>
			<string>{267,271}</string>
		</dict>
		<key>common/facebookButtonDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{3819,1021},{267,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,271}}</string>
			<key>sourceSize</key>
			<string>{267,271}</string>
		</dict>
		<key>common/facebookConnect.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,1057},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/facebookConnectDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,830},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/facebookTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3635},{391,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,375}}</string>
			<key>sourceSize</key>
			<string>{391,375}</string>
		</dict>
		<key>common/facebook_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{3587,2527},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/failed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,1284},{792,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{792,246}}</string>
			<key>sourceSize</key>
			<string>{792,246}</string>
		</dict>
		<key>common/fish.png</key>
		<dict>
			<key>frame</key>
			<string>{{2364,1284},{287,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,183}}</string>
			<key>sourceSize</key>
			<string>{287,183}</string>
		</dict>
		<key>common/freq.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1354},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/freqAsked.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1127},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/go.png</key>
		<dict>
			<key>frame</key>
			<string>{{3094,2512},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/goDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2601,2512},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/greenPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{2688,1138},{1082,764}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1082,764}}</string>
			<key>sourceSize</key>
			<string>{1082,764}</string>
		</dict>
		<key>common/greyPlate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,3},{1166,597}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{1166,597}}</string>
			<key>sourceSize</key>
			<string>{1168,597}</string>
		</dict>
		<key>common/heart_boost.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,3318},{200,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,169}}</string>
			<key>sourceSize</key>
			<string>{200,169}</string>
		</dict>
		<key>common/howPlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,900},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/howPlayDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,673},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/iceStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1116,3050},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/iceStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,3874},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/icelittle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2364,1470},{278,483}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,483}}</string>
			<key>sourceSize</key>
			<string>{278,483}</string>
		</dict>
		<key>common/me.png</key>
		<dict>
			<key>frame</key>
			<string>{{1403,3954},{171,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{171,122}}</string>
			<key>sourceSize</key>
			<string>{173,124}</string>
		</dict>
		<key>common/meUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1229,3954},{171,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{171,122}}</string>
			<key>sourceSize</key>
			<string>{173,124}</string>
		</dict>
		<key>common/musicButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1229,3776},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/music_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1333,3412},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/next.png</key>
		<dict>
			<key>frame</key>
			<string>{{1558,2290},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/nextComix.png</key>
		<dict>
			<key>frame</key>
			<string>{{2051,2290},{358,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,254}}</string>
			<key>sourceSize</key>
			<string>{358,254}</string>
		</dict>
		<key>common/nextComixDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2344,2226},{358,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,254}}</string>
			<key>sourceSize</key>
			<string>{358,254}</string>
		</dict>
		<key>common/nextDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{3111,2115},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/notification.png</key>
		<dict>
			<key>frame</key>
			<string>{{2700,911},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/notificationDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2700,684},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/notificationTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1112,1965},{498,443}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{498,443}}</string>
			<key>sourceSize</key>
			<string>{498,443}</string>
		</dict>
		<key>common/number_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,3969},{172,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{172,122}}</string>
			<key>sourceSize</key>
			<string>{172,124}</string>
		</dict>
		<key>common/number_1_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,3969},{172,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{172,122}}</string>
			<key>sourceSize</key>
			<string>{172,124}</string>
		</dict>
		<key>common/off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3604,2188},{403,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{403,149}}</string>
			<key>sourceSize</key>
			<string>{403,151}</string>
		</dict>
		<key>common/ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,1788},{471,204}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{471,204}}</string>
			<key>sourceSize</key>
			<string>{475,208}</string>
		</dict>
		<key>common/okDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,1581},{471,204}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{471,204}}</string>
			<key>sourceSize</key>
			<string>{475,208}</string>
		</dict>
		<key>common/on.png</key>
		<dict>
			<key>frame</key>
			<string>{{3631,2036},{403,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{403,149}}</string>
			<key>sourceSize</key>
			<string>{403,151}</string>
		</dict>
		<key>common/palka.png</key>
		<dict>
			<key>frame</key>
			<string>{{2688,603},{9,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,323}}</string>
			<key>sourceSize</key>
			<string>{9,323}</string>
		</dict>
		<key>common/pl on 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3587,2340},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/pl on red 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3094,2325},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/pl on red.png</key>
		<dict>
			<key>frame</key>
			<string>{{2601,2325},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/pl on.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,2768},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/pl.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,3115},{217,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{217,146}}</string>
			<key>sourceSize</key>
			<string>{219,146}</string>
		</dict>
		<key>common/plashka_score_target.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1581},{641,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{641,139}}</string>
			<key>sourceSize</key>
			<string>{641,139}</string>
		</dict>
		<key>common/play.png</key>
		<dict>
			<key>frame</key>
			<string>{{2618,2115},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/play_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{3138,1905},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{3631,1905},{128,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{128,130}}</string>
			<key>sourceSize</key>
			<string>{130,134}</string>
		</dict>
		<key>common/popupFacebookPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1563,667}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{1563,667}}</string>
			<key>sourceSize</key>
			<string>{1563,669}</string>
		</dict>
		<key>common/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,603},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/resetDialog.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,2741},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/resetDialogDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,2676},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/resetDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2738,457},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/resetTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,1389},{573,444}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,444}}</string>
			<key>sourceSize</key>
			<string>{573,444}</string>
		</dict>
		<key>common/restore.png</key>
		<dict>
			<key>frame</key>
			<string>{{1506,2500},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/restorePurshase.png</key>
		<dict>
			<key>frame</key>
			<string>{{2738,230},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/restorePurshaseDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2738,3},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>common/restoreTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,673},{713,444}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{713,444}}</string>
			<key>sourceSize</key>
			<string>{713,444}</string>
		</dict>
		<key>common/restoreUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,2581},{490,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,184}}</string>
			<key>sourceSize</key>
			<string>{490,184}</string>
		</dict>
		<key>common/retry.png</key>
		<dict>
			<key>frame</key>
			<string>{{2645,1905},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/retryDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,2321},{490,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,207}}</string>
			<key>sourceSize</key>
			<string>{490,207}</string>
		</dict>
		<key>common/scoreStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,3898},{181,181}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{181,181}}</string>
			<key>sourceSize</key>
			<string>{193,197}</string>
		</dict>
		<key>common/scoreStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,3714},{181,181}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{181,181}}</string>
			<key>sourceSize</key>
			<string>{193,197}</string>
		</dict>
		<key>common/setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{3773,1746},{313,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,284}}</string>
			<key>sourceSize</key>
			<string>{313,284}</string>
		</dict>
		<key>common/settingBlob.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,1533},{772,754}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{772,754}}</string>
			<key>sourceSize</key>
			<string>{772,754}</string>
		</dict>
		<key>common/settingTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,2187},{391,514}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,514}}</string>
			<key>sourceSize</key>
			<string>{391,514}</string>
		</dict>
		<key>common/skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,3142},{384,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,185}}</string>
			<key>sourceSize</key>
			<string>{384,185}</string>
		</dict>
		<key>common/skipDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,3142},{384,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,185}}</string>
			<key>sourceSize</key>
			<string>{384,185}</string>
		</dict>
		<key>common/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,3598},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/soundNo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1577,3946},{117,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{117,116}}</string>
			<key>sourceSize</key>
			<string>{125,126}</string>
		</dict>
		<key>common/sound_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,3234},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>common/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{3857,493},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3857,248},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3857,3},{242,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,230}}</string>
			<key>sourceSize</key>
			<string>{242,230}</string>
		</dict>
		<key>common/star_popup_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{3819,738},{280,272}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{280,272}}</string>
			<key>sourceSize</key>
			<string>{280,280}</string>
		</dict>
		<key>common/time15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2308,2587},{237,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,228}}</string>
			<key>sourceSize</key>
			<string>{237,228}</string>
		</dict>
		<key>common/timeStudy.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,3690},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
		<key>common/timeStudyDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,3506},{180,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,181}}</string>
			<key>sourceSize</key>
			<string>{180,181}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common1.pvr.ccz</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0abdca4df4a64ccf426172e37bbda72d:1/1$</string>
		<key>textureFileName</key>
		<string>common1.pvr.ccz</string>
	</dict>
</dict>
</plist>
