<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gameMap/askFriend.png</key>
		<dict>
			<key>frame</key>
			<string>{{2289,231},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>gameMap/askFriendDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169,231},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>gameMap/blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1926,1596},{242,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,207}}</string>
			<key>sourceSize</key>
			<string>{242,207}</string>
		</dict>
		<key>gameMap/blurPics/level_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3409,3},{922,676}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{922,676}}</string>
			<key>sourceSize</key>
			<string>{926,678}</string>
		</dict>
		<key>gameMap/blurPics/level_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3372,929},{594,686}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{594,686}}</string>
			<key>sourceSize</key>
			<string>{596,686}</string>
		</dict>
		<key>gameMap/blurPics/level_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2241,459},{617,874}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{617,874}}</string>
			<key>sourceSize</key>
			<string>{617,874}</string>
		</dict>
		<key>gameMap/blurPics/level_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169,459},{1068,922}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1068,922}}</string>
			<key>sourceSize</key>
			<string>{1070,922}</string>
		</dict>
		<key>gameMap/blurPics/level_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1632},{1017,877}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{1017,877}}</string>
			<key>sourceSize</key>
			<string>{1023,883}</string>
		</dict>
		<key>gameMap/blurPics/level_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,1030},{1031,598}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1031,598}}</string>
			<key>sourceSize</key>
			<string>{1033,600}</string>
		</dict>
		<key>gameMap/blurPics/level_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1162,1023}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1162,1023}}</string>
			<key>sourceSize</key>
			<string>{1164,1023}</string>
		</dict>
		<key>gameMap/boosterBomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2739,2073},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gameMap/char-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2172,1554},{377,638}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{377,638}}</string>
			<key>sourceSize</key>
			<string>{377,638}</string>
		</dict>
		<key>gameMap/char-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2814,1554},{220,515}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,515}}</string>
			<key>sourceSize</key>
			<string>{220,515}</string>
		</dict>
		<key>gameMap/circleDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{3119,918},{249,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,179}}</string>
			<key>sourceSize</key>
			<string>{249,179}</string>
		</dict>
		<key>gameMap/circleFlik.png</key>
		<dict>
			<key>frame</key>
			<string>{{3119,459},{274,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,205}}</string>
			<key>sourceSize</key>
			<string>{274,205}</string>
		</dict>
		<key>gameMap/cookie.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,1764},{148,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,150}}</string>
			<key>sourceSize</key>
			<string>{148,150}</string>
		</dict>
		<key>gameMap/cookie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1743,1622},{150,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,149}}</string>
			<key>sourceSize</key>
			<string>{150,149}</string>
		</dict>
		<key>gameMap/dashline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1038,1357},{81,620}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,620}}</string>
			<key>sourceSize</key>
			<string>{81,620}</string>
		</dict>
		<key>gameMap/frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,1030},{298,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,16}}</string>
			<key>sourceSize</key>
			<string>{298,16}</string>
		</dict>
		<key>gameMap/frameAngle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1131,1332},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>gameMap/full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1038,1030},{179,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,95}}</string>
			<key>sourceSize</key>
			<string>{179,95}</string>
		</dict>
		<key>gameMap/gray.png</key>
		<dict>
			<key>frame</key>
			<string>{{1926,1385},{242,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,207}}</string>
			<key>sourceSize</key>
			<string>{242,207}</string>
		</dict>
		<key>gameMap/green.png</key>
		<dict>
			<key>frame</key>
			<string>{{3044,1523},{242,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,207}}</string>
			<key>sourceSize</key>
			<string>{242,207}</string>
		</dict>
		<key>gameMap/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1725,1807},{408,335}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{408,335}}</string>
			<key>sourceSize</key>
			<string>{412,341}</string>
		</dict>
		<key>gameMap/heartBroken.png</key>
		<dict>
			<key>frame</key>
			<string>{{3119,668},{270,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,246}}</string>
			<key>sourceSize</key>
			<string>{270,246}</string>
		</dict>
		<key>gameMap/kontur1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3250,2187},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3250,2046},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3852,1916},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur4.png</key>
		<dict>
			<key>frame</key>
			<string>{{3250,1905},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3250,1764},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024,2056},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2137,2076},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2137,1935},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/kontur9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1915},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
		<key>gameMap/lent_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1385},{799,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{799,233}}</string>
			<key>sourceSize</key>
			<string>{799,233}</string>
		</dict>
		<key>gameMap/lent_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3290,1527},{799,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{799,233}}</string>
			<key>sourceSize</key>
			<string>{799,233}</string>
		</dict>
		<key>gameMap/lent_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2241,1317},{799,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{799,233}}</string>
			<key>sourceSize</key>
			<string>{799,233}</string>
		</dict>
		<key>gameMap/lent_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2241,1080},{799,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{799,233}}</string>
			<key>sourceSize</key>
			<string>{799,233}</string>
		</dict>
		<key>gameMap/livesPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3038,1734},{583,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{583,208}}</string>
			<key>sourceSize</key>
			<string>{583,208}</string>
		</dict>
		<key>gameMap/moreLives.png</key>
		<dict>
			<key>frame</key>
			<string>{{2289,3},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>gameMap/moreLivesDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169,3},{1116,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1116,224}}</string>
			<key>sourceSize</key>
			<string>{1116,224}</string>
		</dict>
		<key>gameMap/orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{3044,1312},{242,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,207}}</string>
			<key>sourceSize</key>
			<string>{242,207}</string>
		</dict>
		<key>gameMap/penguin_boost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1038,1213},{140,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,89}}</string>
			<key>sourceSize</key>
			<string>{140,89}</string>
		</dict>
		<key>gameMap/relsi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1622},{148,616}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,616}}</string>
			<key>sourceSize</key>
			<string>{148,616}</string>
		</dict>
		<key>gameMap/violet.png</key>
		<dict>
			<key>frame</key>
			<string>{{3044,1101},{242,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,207}}</string>
			<key>sourceSize</key>
			<string>{242,207}</string>
		</dict>
		<key>gameMap/wite.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1774},{137,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,598}}</string>
			<key>sourceSize</key>
			<string>{137,598}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameMap.pvr.ccz</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5712ee9673ee9c5d3654bca723a24fe8:1/1$</string>
		<key>textureFileName</key>
		<string>gameMap.pvr.ccz</string>
	</dict>
</dict>
</plist>
