<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainMenu/heapIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{3188,2},{827,884}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,884}}</string>
                <key>sourceSize</key>
                <string>{827,884}</string>
            </dict>
            <key>mainMenu/iceBlob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3590},{1536,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,265}}</string>
                <key>sourceSize</key>
                <string>{1536,265}</string>
            </dict>
            <key>mainMenu/iceBlotLandscape.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{2048,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,264}}</string>
                <key>sourceSize</key>
                <string>{2048,264}</string>
            </dict>
            <key>mainMenu/logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1134,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,784}}</string>
                <key>sourceSize</key>
                <string>{1134,784}</string>
            </dict>
            <key>mainMenu/mainMenuBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
            <key>mainMenu/mainMenuBackgroundLandscape.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff478c07aa09f714229d4e4be4f12ddb:1/1$</string>
            <key>textureFileName</key>
            <string>mainMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
